.calendar-view {
  margin-top: 30px;
}

.calendar {
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 10px;
  background-color: #282c34;
  color: #61dafb;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  margin-bottom: 5px;
}

.weekday {
  text-align: center;
  padding: 5px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  color: black;
}

.day {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
  padding: 5px;
}

.day.empty {
  background-color: #282c34;
  border: none;
}

.capitalize-text {
  text-transform: capitalize;
}

.month-nav-button {
  background: #282c34;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

/* Triangolo sinistro per il pulsante "precedente" */
.month-nav-button.prev::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 12px solid #61dafb;
  transform: translate(-50%, -50%);
  transition: border-right-color 0.2s ease;
}

/* Triangolo destro per il pulsante "successivo" */
.month-nav-button.next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #61dafb;
  transform: translate(-50%, -50%);
  transition: border-left-color 0.2s ease;
}

/* Cambia colore della freccia al hover */
.month-nav-button:hover.prev::before {
  border-right-color: #FB61DA; /* Colore quando in hover */
}

.month-nav-button:hover.next::before {
  border-left-color: #FB61DA; /* Colore quando in hover */
}

/* Evidenziazione del giorno corrente con box-shadow */
.day.current-day {
  box-shadow: 0 0 0 2px #61dafb;
  z-index: 1;
}